<% provide(:title, @user.first_name) %>
<div class="large-12 columns user-profile">

    <div class="row show-top">
        <div class="large-8 medium-9 small-9 columns left">
            <h3><strong><%= @user.first_name %> <%= @user.last_name %></strong></h3>
        </div>

        <div class="large-3 medium-3 small-3 columns right">
            <div class="row">
              <a href="#" class="button follow tiny right">Follow</a>
            </div>
        </div>
    </div>

    <div class="row user-profile-main">

        <div class="large-6 medium-6 small-12 columns">

            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns main-img">
                <%= gravatar_for @user, size: 600 %>
              </div>
              <div class="large-12 medium-12 small-12 columns user-image-textbox">
                <table class="large-12 medium-12 small-12 columns">
                  <tbody>
                    <tr>
                      <td class="user-profile-text-title">Miami, FL - USA</td>
                      <td class="like-view"><i class='fi-like'></i>&nbsp;&nbsp;45</td>
                    </tr>
                    <tr>
                      <td class="user-profile-text-title">Member since: Jan 3, 2014</td>
                      <td class="like-view"><i class='fi-eye'></i>&nbsp;&nbsp;3,145</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- .row user-image-textbox --> 
            </div>
            
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong><%= @user.first_name %> thinks that:</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Lorem Ipsum is not simply random text.</p>
              </div>
            </div>

            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong>About <%= @user.first_name %></strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
              </div>
            </div>
        </div> <!-- .large-6 medium-6 small-12 columns -->


        <div class="large-4 medium-6 small-12 columns">
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong><%= @user.first_name %> thinks that:</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Lorem Ipsum is not simply random text.</p>
              </div>
            </div>
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong><%= @user.first_name %> thinks that:</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Lorem Ipsum is not simply random text.</p>
              </div>
            </div>
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong><%= @user.first_name %> thinks that:</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Lorem Ipsum is not simply random text.</p>
              </div>
            </div>
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong><%= @user.first_name %> thinks that:</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Lorem Ipsum is not simply random text.</p>
              </div>
            </div>
            
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong>About <%= @user.first_name %></strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <p class="user-profile-box-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
              </div>
            </div>
        </div> <!-- .large-4 medium-4 small-12 columns -->


        <div class="large-2 medium-2 small-12 columns show-for-large-up">
            <div class="row user-profile-box">
              <div class="large-12 medium-12 small-12 columns">
                <h6 class="user-profile-box-title"><strong>Ads</strong></h6>
              </div>
              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsyOMj2-u_p_NB3kZNCTjKDvlrtpHMw68grIoFerKaP_i1S2OnlA"/>
                <p class="user-profile-box-description-ads">Stay Young. Drink Pepsi!</p>
              </div>

              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <img src="http://rack.2.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzZmL3lvdXR1YmVzMTBtLmJsSi5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/0a1ae789/7d3/youtube-s-10-most-shared-ads-in-august-c4960f140e.jpg"/>
                <p class="user-profile-box-description-ads">The Walking Dead</p>
              </div>

              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <img src="http://static4.businessinsider.com/image/51506b906bb3f7a017000001/15-unapproved-ads-that-got-top-brands-in-trouble.jpg"/>
                <p class="user-profile-box-description-ads">Burger King</p>
              </div>

              <div class="large-12 medium-12 small-12 columns user-profile-box-content">
                <img src="http://wouldyoubuythat.files.wordpress.com/2011/01/mini21.jpg"/>
                <p class="user-profile-box-description-ads">Mini USA</p>
              </div>
            </div>
        </div> <!-- .large-2 medium-2 small-12 columns -->

    </div>

    <div class="row separator-bar">
    </div>

    <div class="row show-top">
      <div class="large-12 medium-12 small-12 columns">
        <h3><strong><%= @user.first_name.capitalize %>'s Posts</strong></h3>
      </div>
    </div>

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <% if @user.posts.any? %>
          <h3>Posts (<%= @user.posts.count %>)</h3>
          <div class="posts">
            <% posts = current_user.posts.all %>
              
                <div class="row">
                  <% posts.each do |post| %>
                    <div class="large-3 medium-6 small-12 columns left">
                        <%= link_to (image_tag post.image, :class => "post_image"), post %>

                        <div class="panel">
                          <h5><strong><%= post.title %></strong></h5>
                          <p>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
                          <p><%= post.description %><p>
                            <% if current_user?(post.user) %>
                              <p><%= link_to "delete", post, method: :delete, 
                                                                  data: { confirm: "You sure?" }, 
                                                                  title: post.title %></p>
                            <% end %>
                        </div>
                    </div>
                  <% end %>
                </div>
          </div>
        <% end %>
      </div>
    </div>


</div>