<% provide(:title, full_name(@user)) %>
<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-8 medium-8 small-8 columns left">
      <h4 class="main-title"><strong><%= full_name(@user) %></strong></h4>
    </div>

    <div class="large-4 medium-4 small-4 columns right">
      <%= render 'follow_form' if signed_in? %>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns container-top">
  <div class="large-5 medium-6 small-6 columns">
    <div class="large-12 medium-12 small-12 columns image">
      <%= image_tag @user.profile_pic %>
    </div>

    <div class="large-12 medium-12 small-12 columns container-top-bottom box">
      <div class="large-12 medium-12 small-12 columns container-bottom border-bottom">
        <div class="large-4 medium-4 small-4 columns box-title to-left">
          <i class='fi-eye'></i>&nbsp;&nbsp;3,145
        </div>
        <div class="large-4 medium-4 small-4 columns box-title to-center">
          <i class='fi-like'></i>&nbsp;&nbsp;65
        </div>
        <div class="large-4 medium-4 small-4 columns box-title to-right">
          <i class='fi-share'></i>&nbsp;&nbsp;share
        </div>
      </div>

      <div class="large-12 medium-12 small-12 columns container-top show-for-large-up">
        <div class="large-6 medium-6 small-6 columns box-title to-left">
          Austin, TX
        </div>
        <div class="large-6 medium-6 small-6 columns box-title to-right">
          Since: Jan 4, 2014
        </div>
      </div>
    </div>

    <div class="large-12 medium-12 small-12 columns container box">
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-title">
        <strong><%= @user.first_name.capitalize %> thinks that:</strong>
      </div>
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-content">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
      </div>
    </div>

    <div class="large-12 medium-12 small-12 columns container box">
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-title">
        <strong>About <%= @user.first_name.capitalize %></strong>
      </div>
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-content about">
        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
      </div>
    </div>
  </div>

  <div class="large-5 medium-6 small-6 columns container">
    <div class="large-12 medium-12 small-12 columns container box">
      <%= render 'stats' %>
    </div>

    <div class="large-12 medium-12 small-12 columns container box">
      <div class="large-12 medium-12 small-12 columns column-top-bottom container box-title">

        <div class="large-8 medium-8 small-8 columns to-left">
          <strong><%= @user.first_name.capitalize %> follows:</strong>
        </div>
        <div class="large-4 medium-4 small-4 columns to-right">
          <%= link_to raw('<i class="fi-torsos-male-female"></i>&nbsp;&nbsp;see all'), following_user_path(@user) %> 
        </div>
      </div>
      <div class="large-12 medium-12 small-12 columns container-full-mid border">
        <% if @following.try(:any?) %>
          <% @following.each do |user| %>
            <div class="large-2 medium-2 small-2 columns row-image">
              <div class="large-12 medium-12 small-12 columns image">
                <%= link_to image_tag(user.profile_pic), user %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="large-12 medium-12 small-12 columns container box">
      <div class="large-12 medium-12 small-12 columns column-top-bottom container box-title">

        <div class="large-8 medium-8 small-8 columns to-left">
          <strong>Followed by <%= @user.first_name.capitalize %>:</strong>
        </div>
        <div class="large-4 medium-4 small-4 columns to-right">
          <%= link_to raw('<i class="fi-torsos-male-female"></i>&nbsp;&nbsp;see all'), following_user_path(@user) %> 
        </div>
      </div>
      <div class="large-12 medium-12 small-12 columns container border">
        <%= render partial: 'feed', locals: {feed_items: @user.feed} %>
      </div>
    </div>
  </div>

  <div class="large-2 medium-2 columns show-for-large-up">
    <div class="large-12 medium-12 small-12 columns container box">
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-title">
        <strong>Ads</strong>
      </div>
      <div class="large-12 medium-12 small-12 columns column-top-bottom box-content about">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsyOMj2-u_p_NB3kZNCTjKDvlrtpHMw68grIoFerKaP_i1S2OnlA"/>
        <p class="user-profile-box-description-ads">Stay Young. Drink Pepsi!</p>
        </br>
        <img src="http://rack.2.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzZmL3lvdXR1YmVzMTBtLmJsSi5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/0a1ae789/7d3/youtube-s-10-most-shared-ads-in-august-c4960f140e.jpg"/>
        <p class="user-profile-box-description-ads">The Walking Dead</p>
        </br>
        <img src="http://static4.businessinsider.com/image/51506b906bb3f7a017000001/15-unapproved-ads-that-got-top-brands-in-trouble.jpg"/>
        <p class="user-profile-box-description-ads">Burger King</p>
      </div>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns container main-sash">
</div>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-10 medium-10 small-10 columns left">
      <h4 class="main-title"><strong><%= @user.first_name %> posts:</strong></h4>
    </div>
  <% if @user.posts.any? %>
    <div class="large-2 medium-2 small-2 columns to-right">
      <h4 class="main-title"><strong>(<%= @user.posts.count %>)</strong></h4>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns">
    <% posts = @user.posts %>
      <div id="wrapper">
          <div id="columns">
              <% posts.each do |post| %>                
                  <div class="thumb">
                      <div class="large-12 medium-12 small-12 columns container">
                        <%= link_to image_tag(post.image, :class => "image"), post %>
                      </div>
                      <div class="large-12 medium-12 small-12 columns container-top-bottom thumb-title">
                        <strong><%= link_to post.title, post %></strong>
                      </div>
                      <div class="large-12 medium-12 small-12 columns container sash show-for-medium-up">
                        <div class="large-4 medium-4 small-4 columns container-top-bottom-mid icon">
                          <i class="fi-page-filled"></i>
                        </div>
                        <div class="large-4 medium-4 small-4 columns icon">
                        </div>
                        <div class="large-4 medium-4 small-4 columns container-top-bottom-mid icon">
                          <i class="fi-like"></i>
                        </div>
                      </div>
                      <div class="large-12 medium-12 small-12 columns container-top-bottom show-for-medium-up">
                        <div class="large-3 medium-3 small-3 columns container-left">
                          <%= link_to image_tag(post.user.profile_pic, :class => "image"), user_path(post.user) %>
                        </div>
                        <div class="large-9 medium-9 small-9 columns container-left">
                          <div class="large-12 medium-12 small-12 columns container user-name">
                              <strong>
                                <%= link_to "#{post.user.first_name.capitalize} #{post.user.last_name.capitalize}", user_path(post.user) %>
                              </strong>
                            </div>
                            <div class="large-12 medium-12 small-12 columns container user-tag">
                              <strong>
                                <%#= post.user.tag %>Web Dev
                              </strong>
                            </div>
                            <div class="large-12 medium-12 small-12 columns container category">
                              <strong>Category
                                <%#= post.category %>
                              </strong>
                            </div>
                        </div>
                      </div>
                      <div class="large-12 medium-12 small-12 columns container-top-bottom-mid border-top">
                        <div class="large-8 medium-8 small-8 columns container-left created-at show-for-large-up">
                          <%= time_ago_in_words(post.created_at) %> ago.
                        </div>
                        <div class="large-4 medium-12 small-12 columns container">
                          <div class="large-4 medium-4 small-4 columns container-right icon">
                            <% if current_user == post.user %>
                              <%= link_to raw('<i class="fi-pencil"></i>'), edit_post_path(post) %>
                            <% end %>
                          </div>
                          <div class="large-4 medium-4 small-4 columns container-right icon">
                            <% if current_user == post.user %>
                              <%= link_to raw('<i class="fi-trash"></i>'), post, method: :delete, data: { confirm: "Are you sure?" }, title: post.title %>
                            <% end %>
                          </div>
                          <div class="large-4 medium-4 small-4 columns container-right icon">
                            <%= link_to raw('<i class="fi-comments"></i>'), post %>
                          </div>
                        </div>
                      </div>
                  </div> <!-- .thumb -->
              <% end %>
          </div>
      </div>
  <% end %>
</div>


        