<div class="large-12 medium-12 small-12 columns column-top-bottom">
  <%= form_for [@commentable, @comment] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, :placeholder => "Write your comment here!" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit "Send", :class => "button tiny right" %>
    </div>
  <% end %>
</div>