<div id="<%= feed_item.id %>" class="container">
  <div class="large-12 medium-12 small-12 columns container-full feed-items">
    <div class="large-2 medium-2 small-2 columns container image">
      <%= link_to image_tag(feed_item.user.profile_pic), feed_item.user %>
    </div>
    <div class="large-10 medium-10 small-10 columns container-top-mid-half">
      <div class="large-12 medium-12 small-12 columns container">
        <div class="large-10 medium-10 small-10 columns font-80">
          <strong><%= link_to full_name(feed_item.user), feed_item.user %></strong>
        </div>
        <div class="large-2 medium-2 small-2 columns font-80 container to-right">
          <% if current_user?(feed_item.user) %>
            <%= link_to raw('<i class="fi-trash"></i>'), feed_item, method: :delete,
                data: { confirm: "You sure?" }, title: feed_item.title %>
          <% end %>
        </div>
      </div>
      <div class="large-12 medium-12 small-12 columns column-top-mid font-70">
        Posted <strong><%= link_to feed_item.title, feed_item %></strong>
      </div>
      <div class="large-12 medium-12 small-12 columns font-70 grey column-top-mid">
        <%= time_ago_in_words(feed_item.created_at) %> ago.
      </div>

    </div>
  </div>
</div>
