<h2>Share a Post!</p>
<%= form_for(@post) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Write your post's title..." %>

    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Tell me about your post..." %>

    <%= f.label :image %>
    <%= f.text_field :image, placeholder: "Paste your image link..." %>

  <%= f.submit "Create Post", class: "button" %>

<% end %>