<% provide(:title, @challenge.title) %>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-10 medium-10 small-10 columns">
      <h4 class="main-title"><strong><i class="fi-star"></i> <%= @challenge.title.titleize %></strong></h4>
    </div>
    <div class="large-2 medium-2 small-2 columns container">
      <div class="large-12 medium-12 small-12 columns container">
        <div class="large-6 medium-6 small-6 columns container-top to-right top-icon">
          <% if current_user == @challenge.user %>
            <%= link_to raw('<i class="fi-pencil"></i>'), edit_challenge_path(@challenge) %>
          <% end %>
        </div>
        <div class="large-6 medium-6 small-6 columns container-top to-center top-icon">
          <% if current_user == @challenge.user %>
            <%= link_to raw('<i class="fi-trash"></i>'), challenge_path, method: :delete, data: { confirm: "Are you sure?" }, title: @challenge.title.titleize %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns container">
  <div class="large-12 medium-12 small-12 columns container-top-bottom">
    <div class="large-4 medium-4 small-6 columns">
      <%= image_tag @challenge.image, class: "image" %>
    </div>
    <div class="large-4 medium-4 small-4 columns container show-for-medium-up">
      <div class="large-12 medium-12 small-12 columns container box">
        <div class="large-3 medium-3 small-3 columns container">
          <%= link_to image_tag(@challenge.user.profile_pic, class: "image"), user_path(@challenge.user) %>
        </div>
        <div class="large-9 medium-9 small-9 columns column-top">
          <div class="large-12 medium-12 small-12 columns container">
            <strong><%= link_to full_name(@challenge.user).titleize, user_path(@challenge.user) %></strong>
          </div>
          <div class="large-12 medium-12 small-12 columns container-top-mid font-80 grey">
            <%= @challenge.user.tag.titleize %>
          </div>
        </div>
      </div>

      <div class="large-12 medium-12 small-12 columns container-top-bottom box">
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-social-facebook font-100 blue" href="#"></a>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-social-twitter font-100" href="#"></a>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-social-pinterest font-100 red" href="#"></a>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-social-google-plus font-100 red" href="#"></a>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-mail font-100 grey" href="#"></a>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a class="fi-social-yelp font-100 red" href="#"></a>
        </div>
      </div>

      <div class="large-12 medium-12 small-12 columns box">
        <div class="large-6 medium-6 small-6 columns container-top-bottom font-80 dark-grey to-left">
          <i class="fi-eye"></i> 3,546
        </div>
        <div class="large-6 medium-6 small-6 columns container-top-bottom font-80 dark-grey to-right">
          <i class="fi-like"></i> 88
        </div>
      </div>
      <%# if @challenge.description != nil %>
      <div class="large-12 medium-12 small-12 columns container box">
        <div class="large-12 medium-12 small-12 columns column-top-bottom font-90">
          <strong>About <%= @challenge.title.titleize %></strong>
        </div>
        <div class="large-12 medium-12 small-12 columns column-top-bottom border justify">
          <div class="large-12 medium-12 small-12 columns container font-80">
            <%= @challenge.description %>
          </div>
          <div class="large-12 medium-12 small-12 columns container-top grey font-70">
            Created <%= time_ago_in_words(@challenge.created_at) %> ago.
          </div>
        </div>
      </div>
      <%# end %>
    </div>
    <div class="large-4 medium-4 small-4 columns show-for-medium-up">
      <div class="large-12 medium-12 small-12 columns container">
        <div class="large-12 medium-12 small-12 columns column-bottom container">
          <%= render 'shared/comments_form' %>
        </div>
        <div class="large-12 medium-12 small-12 columns container comments box">
          <%= render 'shared/comments' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns column-bottom">
  <%= render 'challenge_posts/form_horizon' %>
</div>

<!-- <div class="large-12 medium-12 small-12 columns container main-sash">
</div> -->

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-12 medium-12 small-12 columns">
      <h4 class="main-title"><strong><i class="fi-page-filled"></i> <%= @title %></strong></h4>
    </div>
  </div>
</div>
<% @posts = @contest.posts %>
<%= render 'shared/post' %>


