<div class="large-12 medium-12 small-12 columns container-top-bottom contest-form">
  <%= form_for [@contest, @post] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="large-12 medium-12 small-12 columns container-top-2x">
      <div class="large-4 medium-4 small-12 columns container right">
        <div class="large-12 medium-12 small-12 columns font-70">
          <%#= f.label :description, :class => "xtra-light-grey" %>
        </div>

        <div class="large-12 medium-12 small-12 columns">
          <%= f.text_area :description, :placeholder => "Tell me about your Post", :class => "description" %>
        </div>
      </div>
      <div class="large-8 medium-8 small-12 columns left container">
        <div class="large-12 medium-12 small-12 columns container">
          <div class="large-6 medium-6 small-12 columns container">
            <div class="large-12 medium-12 small-12 columns font-70">
              <%#= f.label :title, :class => "xtra-light-grey" %>
            </div>

            <div class="large-12 medium-12 small-12 columns">
              <%= f.text_field :title, :placeholder => "Title your Post" %>
            </div>
          </div>
          <div class="large-6 medium-6 small-12 columns container">
            <div class="large-12 medium-12 small-12 columns font-70">
              <%#= f.label :image, :class => "xtra-light-grey" %>
            </div>

            <div class="large-12 medium-12 small-12 columns">
              <%= f.text_field :image, :placeholder => "Paste Image URL" %>
            </div>
          </div>
        </div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :contest_id, :value => @contest.id %>
        <div class="large-12 medium-12 small-12 columns column-bottom">
          <%= f.submit "Add Post to Challenge", :class => "button tiny" %>
        </div>
      </div>
    </div>
  <% end %>
</div>