<!-- Navigation -->
 
      <div class="row">
        <div class="large-12 columns">
 
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <%= link_to 'Talentcrops', root_path %>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <% if signed_in? %>
              <ul class="right">
                <li class="divider"></li>
                <li><a href="#">Main Item 2</a></li>
                <li class="divider"></li>
                <li><a href="#">Main Item 2</a></li>
                
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">User</a>
                  <ul class="dropdown">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all →</a></li>
                  </ul>
                </li>
              </ul>
              <% else %>
              <ul class="right">
                <li class="divider"></li>
                <li><%= link_to "Sign in", signin_path %></li>
                <li class="divider"></li>
                <li class="has-form">
                  <%= link_to "Sign up", signup_path, :class => 'button' %>
                </li>
              </ul>
              <% end %>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>
 
    <!-- End Navigation -->